.jobcard {
  box-shadow: rgba(207, 206, 206, 0.432) 0px 4px 20px;
}

.shape1 {
  position: absolute;
  left: -600px;
  opacity: 0.1;
  width: 50vw;
  height: 70vh;
  background-color: #a3a6bd;
  border-radius: 100%;
}

.shape2 {
  position: absolute;
  right: -350px;
  top: -150px;
  opacity: 0.1;
  width: 40vw;
  height: 65vh;
  background-color:#808191;
  border-radius: 100%;
}