body {
  background: whitesmoke;
  overflow-x: hidden;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.jobcard {
  box-shadow: rgba(207, 206, 206, 0.432) 0px 4px 20px;
}

.shape1 {
  position: absolute;
  left: -350px;
  opacity: 0.1;
  width: 600px;
  height: 70vh;
  background-color: #a3a6bd;
  border-radius: 100%;
}

.shape2 {
  position: absolute;
  right: -350px;
  top: -150px;
  opacity: 0.1;
  width: 600px;
  height: 65vh;
  background-color:#808191;
  border-radius: 100%;
}

.readMore{
  background-color: #8AA895;
  color: white;
  border-radius: 10pt;
  font-size: 15px;
  padding: 6px 20px;
  text-decoration: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}

.readMore:hover {
  background: #B6C9BD;
}
.readMore:focus {
  outline: none;
}

.linkWrap{
  padding-top: 25px;
  width: 100%;
  /* background-color: red; */
}